*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

header{
    width: 100vw;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    max-width: 100%;
    min-width: 1200px;
    font-weight: 600;
    background-color: white;
    position: fixed;
    z-index: 666;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 6px 6px -6px #666;
}

.container{
    width: 65%;
    min-width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

#img-nav{
    vertical-align: text-bottom;
    margin: 0 30px;
}

header div.nav-bar-left ul,
header div.nav-bar-right ul{
    display: inline;
}

header ul li{
    display: inline;
    margin-right: 30px;
}

li.btn-nav{
    color: white;
}

.wrapper{
    background-color: #b4d0e7;
    width: 100vw;
    height: 900px;
    min-width: 1500px;
    max-width: 100%;
    padding-top: 100px;
}

section#jumbotron{
    width: 80%;
    margin: 0 auto;
}

section#jumbotron h1{
    font-size: 85px;
    padding-top: 50px;
    margin-bottom: 50px;
}

section#jumbotron .col-jumbotron{
    width: 30%;
    display: inline-block;
}

section#jumbotron p{
    margin-bottom: 40px;
    font-size: 18px;
    display: inline-block;
}

section#jumbotron div.col-jumbotron div#btn-jumbo-blue,
section#jumbotron div.col-jumbotron div#cancel{
    margin-bottom: 35px;
}

.fa-arrow-down{
    font-size: 50px;
}

#img-jumbo{
    float: right;
    width: 67%;
}

section#subscription{
    padding-top: 400px;
}

section#subscription h2{
    font-size: 40px;
    margin-bottom: 50px;
}

section#subscription #subscription-radio{
    margin-bottom: 30px;
}

section#subscription #subscription-radio input{
    margin-right: 5px;
}

section#subscription #subscription-radio span{
    margin-right: 20px;
    font-weight: 600;
}

#professional-row, #standard-row, #advance-row{
    width: 32%;
}

#professional-row, #standard-row, #advance-row, #info-row{
    height: 40px;
    border-top:#e0e0e0 2px solid;
    border-left:#e0e0e0 2px solid; 
    border-right:#e0e0e0 2px solid;
}

section#subscription div#row-sub h6,
section#subscription div#info-row h6{
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    line-height: 36px;
}

#col-sub .content-sub{
    width: 80%;
    margin: 0 auto;
}

#standard-row, #standard-col{
    margin: 0 2%;
}

#professional-col, #standard-col, #advance-col{
    width: 32%;
    height: 1100px;
    margin-bottom: 50px;
}

#professional-col, #standard-col, #advance-col, #info-col{
    border: #e0e0e0 2px solid;
}

#info-col{
    height: 300px;
}

section#subscription div#col-sub h4,
section#subscription div#text-info h4{
    font-size: 30px;
    margin-bottom: 13px;
}

section#subscription div#col-sub h4{
    padding-top: 25px;
}

section#subscription div#col-sub .price{
    font-weight: bold;
    margin-bottom: 15px;
}

section#subscription div#col-sub .timing{
    color: #647482;
    margin-bottom: 50px;
}

section#subscription div#col-sub .user,
section#subscription div#col-sub .storage{
    margin-bottom: 25px;
}

section#subscription div#col-sub .description{
    margin-bottom: 45px;
}

section#subscription div#col-sub .btn-free-trial{
    margin-bottom: 40px;
}

.buy-now, #discover, .fa-check{
    color:#0061ff;
    font-weight: 600;
}

.hr-small{
    width: 65px;
}

.hr-small, .hr-full, hr#footer{   
    color: #e0e0e0;
    margin: 30px 0;
}

hr#footer{
    width: 131px;
}

section#subscription div#col-sub h5,
section#subscription div#col-sub li,
section#subscription div#text-info h5{
    margin-bottom: 30px;
}

section#subscription div#col-sub h5,
section#subscription div#text-info h5{
    font-size: 20px;
}

section#subscription div#col-sub li{
    list-style: none; 
}

section#subscription div#text-info{
    width: 70%;
}

section#subscription div#text-info h4{
    padding-top: 2px;
}

section#subscription div#btn-info{
    width: 30%;
    padding-top: 20px;
}

section#subscription div#info-col{
    padding: 30px;
    height: 200px;
}

.aling{
    text-indent: -10px;
    padding-left: 20px;
}

div.align{
    text-indent: -10px;
    padding-left: 20px;
}

/*!! -- START BUTTON STYLE-- !!*/

section#jumbotron div .btn-free-trial{
    font-size: 22px;
}

#btn-nav a, .btn-free-trial a, .btn-contact a, #btn-find-a-partner a, 
#btn-under-client a{
    text-decoration: none;
}

#btn-nav a, .btn-free-trial a, .btn-contact a{
    color: white;
    background-color: #0061ff; 
}

#jumbotron .col-jumbotron .btn-free-trial{
    display: inline-block;
    margin-bottom: 30px;
}

#btn-nav a, #btn-jumbo{
    padding: 7px 20px;
}

#btn-jumbo{
    font-size: 18px;
}

/* .btn-free-trial a{
    padding: 10px 60px;
} */

.btn-free-trial a:hover, #btn-nav a:hover, .btn-free-trial a:hover, 
.btn-contact a:hover, #btn-find-a-partner a:hover, #btn-under-client a:hover {
    box-shadow: 1px 1px 1px 1px #505050;
    filter: opacity(50%);
    transition: 0.3s;
}

/* .btn-contact a, #btn-under-client a{
    padding: 8px 85px;
} */

#btn-find-a-partner a{
    color: black;
    border: 1px solid black;
    padding: 7px 21px;
}

#btn-under-client{
    padding-top: 20px;
}

#btn-under-client a{
    background-color: white;
    color: black;
}

/*!! -- END BUTTON STYLE -- !!*/

section#partner{
    padding-top: 150px;
    margin-bottom: 150px;
}

section#partner img#people{
    width: 52%;
}

section#partner div#partner-text{
    width: 42%;
}
section#partner div#partner-text h4{
    padding-top: 50px;
}

section#partner div#partner-text h4,
section#dropbox-business div.text h4{
    font-size: 30px;
    margin-bottom: 25px;
}

section#partner div#partner-text p{
    line-height: 30px;
    margin-bottom: 35px;
    font-size: 19px;
}

section#dropbox-business h2{
    margin-bottom: 60px;
}

section#dropbox-business h2, section#text-companies h2, 
section#under-client-companies h2{
    font-size: 43px;
}

section#dropbox-business{
    margin-bottom: 200px;
}

section#dropbox-business .row{
    margin-bottom: 100px;
}

section#dropbox-business .card-middle{
    width: 30%;
    margin:0 5%;
}

section#dropbox-business .card{
    width: 30%;
}

section#dropbox-business img{
    width: 100%;
}

section#dropbox-business div.text p{
    line-height: 27px;
}

section#dropbox-business div.text p,
section#client-companies .text-companies #wrapper-text-companies p{
    font-size: 18px;
}

section#text-companies{
    margin-bottom: 50px;
}

section#text-companies h2{
    width: 50%;
    margin-bottom: 25px;  
}

section#client-companies .companies-svg{
    width: 30vw;
    max-width: 30%;
    height: 61vh;
}

section#client-companies .text-companies{
    width: 40vw;
    max-width: 40%;
    background-color: #f5f5f5;
    height: 61vh;
    overflow: auto;
}

section#client-companies .text-companies div#wrapper-text-companies{
    padding: 62px;
}

section#client-companies .text-companies img#img-designit{
    width: 25%;
}

section#client-companies .text-companies #wrapper-text-companies p{
    margin: 70px 0;
}

.companies-svg > div{
    width: 50%;
    height: 50%;
}

div.companies-svg div > img{
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
    }

#designit{
    background-color: #a2d39b;
    border: #d0e9cd solid 13px;
}

#arizona-state-university{
    background-color: #61082b;
}

#university-of-florida{
    background-color: #0093ce;
}

#topps{
    background-color: #ff1c1c;
}

#world-bicycle-relief{
    background-color: #d5001f;
}

#hearst-corp{
    background-color: #b4d0e7;
}

#lonely-planet{
    background-color: #0d2481;
}

#clear-channel{
    background-color: #ffd830;
}

section#under-client-companies{
    height: 400px;
    position: relative;
    margin-bottom: 150px;
}

section#under-client-companies h2{
    color: #61082b;
}

section#under-client-companies div#col-left-under-client{
    width: 50%;
}

section#under-client-companies div.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#questions{
    margin-bottom: 150px;
}

section#questions h3{
    font-size: 30px;
}

.hr-full{
    width: 100%;
}

.fa-chevron-down{
    float: right;
}

section#questions ul{
    display: inline;
}

section#questions ul li {
    display: inline;
    font-weight: bold;
}

footer{
    width: 100vw;
    background-color: black;
    height: 550px;
    max-width: 100%;
    color: white;
    min-width: 1000px;
}

footer div#footer-conteiner{
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
}

footer div#footer-conteiner div.contenitore h6{
    font-size: 23px;
    margin-bottom: 23px;
}

footer div#footer-conteiner div.contenitore ul{
    list-style-type: none;
    line-height: 35px;
    font-size: 15px;
}

.contenitore{
    height: 350px;
    width: calc(100% / 5);
    float: left;
}

footer div#language{
    color: #585858;
}

footer span#language-it{
    font-size: 15px;
}

footer div#footer-conteiner div.contenitore ul li:hover{
    text-decoration: underline;
    color: white;

}